{% extends 'master.html' %}
{% load static %}
{% block content %}


<!-- <style>
    .bs4-order-tracking {
        margin-bottom: 30px;
        overflow: hidden;
        color: #878788;
        margin-top: 30px
    }

    .bs4-order-tracking li {
        list-style-type: none;
        font-size: 13px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400;
        color: #000000;
        text-align: center
    }

    .bs4-order-tracking li:first-child:before {
        margin-left: 15px !important;
        padding-left: 11px !important;
        text-align: left !important
    }

    .bs4-order-tracking li:last-child:before {
        margin-right: 5px !important;
        padding-right: 11px !important;
        text-align: right !important
    }

    .bs4-order-tracking li>div {
        color: #fff;
        width: 29px;
        text-align: center;
        line-height: 29px;
        display: block;
        font-size: 12px;
        background: #000000;
        border-radius: 50%;
        margin: auto
    }

    .bs4-order-tracking li:after {
        content: '';
        width: 150%;
        height: 2px;
        background: #fff;
        position: absolute;
        left: 0%;
        right: 0%;
        top: 15px;
        z-index: -1
    }

    .bs4-order-tracking li:first-child:after {
        left: 50%
    }

    .bs4-order-tracking li:last-child:after {
        left: 0% !important;
        width: 0% !important
    }

    .bs4-order-tracking li.active {
        font-weight: bold;
        color: #dc3545
    }

    .bs4-order-tracking li.active>div {
        background: #dc3545
    }

    .bs4-order-tracking li.active:after {
        background: #dc3545
    }

    .card-timeline {
        padding: 30px;
        background-image: url(../static/img/cartbg.jpg);
        background-size: cover;
        z-index: 0
    }

    td img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    td h4 {
        font-size: 15px;
        font-family: sans-serif;
        margin-top: 34px;
    }

    .actions {
        width: 400px;
        text-align: right;
    }
</style>

<section class="cart-head mt-3">
    <div class="row ">
        <div class="col-lg-12">
            <div class="cart-status">
                <div class="card card-timeline px-2 border-none  ">
                    <ul class="bs4-order-tracking ">
                        <li class="step active">
                            <div><i class="far fa-shopping-cart"></i></div> Your Cart
                        </li>
                        <li class="step ">
                            <div><i class="fad fa-circle"></i></div> step 1
                        </li>
                        <li class="step">
                            <div><i class="fad fa-circle"></i></div> step 2
                        </li>
                        <li class="step ">
                            <div><i class="fas fa-check"></i></div> done
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="cart-body" id="CartHead">
    <div class="container">
        <div class="row pt-5">
            <div class="col-lg-8 col-12">
                <table class="table table-hover table-responsive table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Artist Details</th>
                            <th></th>
                            <th class="actions" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="/user/artist-profile" class="btn"> <img
                                        src="{% static 'img/category/band3.jpg' %}" alt=""></a>
                            </td>
                            <td>
                                <h4 class="text-uppercase  ">team rock</h4>
                            </td>
                            <td class="actions"><button class="btn mt-4"><i class="fas fa-trash-alt"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 col-12 mt-lg-0 mt-5 ">
                <form class="bg-light p-5 ">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Date Here</label>
                        <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <button type="submit" class="btn mx-auto btn-primary " id="check">Checkout</button>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="user-details mt-5" id="UserDetails" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="p-5">
                    <div class="card p-lg-5 p-1 bg-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="text-uppercase font-weight-bold mb-3 p-2"> 1. your details</h4>
                                <div class="form-group p-3">
                                    <label for="">Full Name</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group p-3">
                                    <label for="">Email</label>
                                    <input type="email" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group p-3">
                                    <label for="">Phone</label>
                                    <input type="text" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group p-3">
                                    <a href="#" class="btn btn-outline-primary btn-prev">Previous</a>
                                    <a href="#" class="btn btn-primary .btn-next">Continue</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section>

<section class="user-details mt-5" id="EventDetails" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form class="p-5">
                    <div class="card p-lg-5 p-1 bg-light">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="text-uppercase font-weight-bold mb-3 p-2"> 2. Event details</h4>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group p-3">
                                    <label for="">Event Type</label>
                                    <select class="form-control" id="">
                                        <option value="" disabled selected></option>
                                        <option>charity</option>
                                        <option>Restorent</option>
                                        <option>Campus</option>
                                        <option>Corporate</option>
                                        <option>Exhibition</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group p-3">
                                    <label for="">Event Date</label>
                                    <input type="date" class="form-control" id="">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group p-3">
                                    <label for="">Venu Address</label>
                                    <input type="text" class="form-control" id="">
                                </div>

                                <div class="form-group p-3">
                                    <label for="">Requirement Details (<span class="text-muted">optional</span>)</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <a href="#" class="btn btn-outline-primary mt-5 btn-prev">Previous</a>
                                    <a href="#" class="btn btn-primary  mt-5 btn-next">Continue</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</section> -->

<style>
    .fieldlabels {
        color: #455A64 !important;
        text-align: left
    }

    .card {
        /* background-color: #651FFF; */
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        padding: 60px 40px 40px 40px;
        z-index: 0;
        display: none
    }

    .card.show {
        display: block
    }

    .form-control-label {
        font-size: 22px !important;
        /* color: #fff; */
        letter-spacing: 1px
    }

    ::placeholder {
        /* color: #fff; */
        opacity: 1;
        font-weight: 300
    }

    :-ms-input-placeholder {
        /* color: #fff; */
        font-weight: 300
    }

    ::-ms-input-placeholder {
        /* color: #fff; */
        font-weight: 300
    }

    input,
    textarea,select {
        /* background-color: #651FFF !important; */
        padding: 8px 15px 8px 15px;
        border-radius: 0px !important;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        /* color: #2C3E50; */
        /* background-color: #ECEFF1; */
        border: none;
        border-bottom: 1px solid ;
        font-size: 18px !important;
        /* color: #fff !important; */
        font-weight: 300
    }

    input:focus,
    textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border-bottom: 1px solid #9FA8DA;
        outline-width: 0;
        font-weight: 400
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0
    }

    .circle {
        position: relative
    }

    .fa-long-arrow-right {
        /* color: #651FFF; */
        background-color: #fff;
        padding: 12px;
        margin: 5px;
        border-radius: 50%;
        border: 3px solid #651FFF;
        position: absolute;
        left: -28px;
        top: 12px;
        cursor: pointer
    }

    /* .fa-long-arrow-right:hover {
        color: #FFF;
        background-color: #B39DDB
    } */

    .fa-long-arrow-left {
        position: absolute;
        left: 20px;
        top: 20px;
        /* color: #fff; */
        cursor: pointer
    }

    .check-mark {
        width: 180px;
        height: 180px
    }
</style>


<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9">
            <div class="card b-0 show ">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h3 class="text-uppercase  font-weight-bold mb-3 p-2 "> 1. your details</h3>
                    </div>
                    <div class="col-lg-10 col-md-11">
                        <div class="form-group">
                            <label class="form-control-label">FULL NAME</label>
                            <input type="text" id="name" name="name" placeholder="Enter your name here ..." class=""
                                onblur="validate1(1)">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">EMAIL</label>
                            <input type="text" id="email" name="email" placeholder="Please enter your email here ..."
                                class="" onblur="validate1(2)">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PHONE</label>
                            <input type="text" id="phone" name="phone" placeholder="Enter your mobile number ..." class=""
                                onblur="validate1(3)">
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="circle">
                        <div class="fa fa-long-arrow-right next" id="next1" onclick="validate1(0)"></div>
                    </div>
                </div>
            </div>
            <div class="card b-0">
                <div class="fa fa-long-arrow-left prev"> </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <h3 class="text-uppercase font-weight-bold mb-3 p-2 text-white"> 2. Event details</h3>
                    </div>
                    <div class="col-lg-10 col-md-11">
                        <div class="form-group ">
                            <label class="form-control-label" for="">Event Type</label>
                            <select class="form-control" id="e_type" onblur="validate2(2)">
                                <option value="" disabled selected></option>
                                <option>charity</option>
                                <option>Restorent</option>
                                <option>Campus</option>
                                <option>Corporate</option>
                                <option>Exhibition</option>
                            </select>
                        </div>
                        <div class="form-group"> <label class="form-control-label">Event date</label>
                            <input type="date" id="e_date" name="event-date"
                                placeholder="Enter event date here ..." class="" onblur="validate2(1)">
                        </div>
                        <div class="form-group ">
                            <label class="form-control-label" for="">Venue Address</label>
                            <input type="text" placeholder="Enter venu address here ..." class="" id="venu" name="venu-address" onblur="validate2(3)">
                        </div>
                        <div class="form-group"> <label class="form-control-label">Requirement Details (<span class="font-weight-light">optional</span>)</label>
                             <textarea type="text" id="desc" name="desc" placeholder="Enter requirements here ..."
                                class="" > </textarea></div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="circle">
                        <div class="fa fa-long-arrow-right next" id="next2" onclick="validate2(0)"></div>
                    </div>
                </div>
            </div>
            <div class="card b-0">
                <div class="row d-flex justify-content-center text-center">
                    <div class="confirm">
                        <h4 class="mb-2">Thank You !</h4>
                        <p>An estimation will be sent on your email address.</p>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="check"> <img src="https://i.imgur.com/g6KlBWR.gif" class="check-mark"> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   

    function validate1(val) {
        v1 = document.getElementById("name");
        v2 = document.getElementById("email");
        v3= document.getElementById("phone")

        flag1 = true;
        flag2 = true;
        flag3 = true;

        if (val >= 1 || val == 0) {
            if (v1.value == "") {
                v1.style.borderColor = "red";
                flag1 = false;
            }
            else {
                v1.style.borderColor = "white";
                flag1 = true;
            }
        }

        if (val >= 2 || val == 0) {
            if (v2.value == "") {
                v2.style.borderColor = "red";
                flag2 = false;
            }
            else {
                v2.style.borderColor = "white";
                flag2 = true;
            }
        }

        if (val >= 3 || val == 0) {
            if (v3.value == "") {
                v3.style.borderColor = "red";
                flag3 = false;
            }
            else {
                v3.style.borderColor = "white";
                flag3 = true;
            }
        }

        flag = flag1 && flag2 && flag3;

        return flag;
    }

    function validate2(val) {
        v1 = document.getElementById("e_date");
        v2 = document.getElementById("e_type");
        v3 =document.getElementById("venu");

        flag1 = true;
        flag2 = true;
        flag3 = true; 

        if (val >= 1 || val == 0) {
            if (v1.value == "") {
                v1.style.borderColor = "red";
                flag1 = false;
            }
            else {
                v1.style.borderColor = "white";
                flag1 = true;
            }
        }

        if (val >= 2 || val == 0) {
            if (v2.value == "") {
                v2.style.borderColor = "red";
                flag2 = false;
            }
            else {
                v2.style.borderColor = "white";
                flag2 = true;
            }
        }
        if (val >= 3 || val == 0) {
            if (v3.value == "") {
                v3.style.borderColor = "red";
                flag3 = false;
            }
            else {
                v3.style.borderColor = "white";
                flag3 = true;
            }
        }

        flag = flag1 && flag2 && flag3;

        return flag;
    }

    $(document).ready(function () {

        var current_fs, next_fs, previous_fs;

        $(".next").click(function () {

            str1 = "next1";
            str2 = "next2";

            if (!str1.localeCompare($(this).attr('id')) && validate1(0) == true) {
                val1 = true;
            }
            else {
                val1 = false;
            }

            if (!str2.localeCompare($(this).attr('id')) && validate2(0) == true) {
                val2 = true;
            }
            else {
                val2 = false;
            }

            if ((!str1.localeCompare($(this).attr('id')) && val1 == true) || (!str2.localeCompare($(this).attr('id')) && val2 == true)) {
                current_fs = $(this).parent().parent().parent();
                next_fs = $(this).parent().parent().parent().next();

                $(current_fs).removeClass("show");
                $(next_fs).addClass("show");

                $("#progressbar li").eq($(".card").index(next_fs)).addClass("active");

                current_fs.animate({}, {
                    step: function () {

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });

                        next_fs.css({
                            'display': 'block'
                        });
                    }
                });
            }
        });

        $(".prev").click(function () {

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            $(current_fs).removeClass("show");
            $(previous_fs).addClass("show");
            $("#progressbar li").eq($(".card").index(next_fs)).removeClass("active");
            current_fs.animate({}, {
                step: function () {

                    current_fs.css({
                        'display': 'none',
                        'position': 'relative'
                    });

                    previous_fs.css({
                        'display': 'block'
                    });
                }
            });
        });

    });

</script>

{% endblock %}