{% extends 'master.html' %}
{% load static %}
{% block content %}


<style>
    
    @media(max-width:767px){
        .ctitle{
            font-size: 25px;
        }
    }
    

</style>
<section class=" m-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="ctitle text-center font-weight-bold ">What are you looking for?</h2>
                <p class="text-center text-muted ">Get the best quotes in the industry</p>
            </div>
            
            <div class="col-lg-2 col-6 p-3">
               
                <div class="card m-3 mx-auto" style="height: 165px;width: 120px;">
                    <img src="{% static 'img/category/bandc.webp'%}"   alt="safari" >
                    <h4 class="text-center"><b>Band</b></h4>
                    <a href="#" class=" stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 p-3">
                <div class="card  m-3 mx-auto" style="height: 165px;width: 120px;">
                    <img src="{% static 'img/category/djc.webp'%}" alt="safari" >
                    <h4 class="text-center"><b>Dj</b></h4>
                    <a href="#" class=" stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 p-3">
                <div class="card  m-3 mx-auto" style="height: 165px;width: 120px;">
                    <img src="{% static 'img/category/magicianc.webp'%}" alt="safari" >
                    <h4 class="text-center"><b>Magician</b></h4>
                    <a href="#" class=" stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 p-3">
                <div class="card  m-3 mx-auto" style="height: 165px;width: 120px;">
                    <img src="{% static 'img/category/photographerc.webp'%}" alt="safari" >
                    <h4 class="text-center"><b>Photo</b></h4>
                    <a href="#" class=" stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 p-3">
                <div class="card  m-3 mx-auto" style="height: 165px;width: 120px;">
                    <img src="{% static 'img/category/dancec.webp'%}" alt="safari" >
                    <h4 class="text-center"><b>Dance</b></h4>
                    <a href="#" class=" stretched-link"></a>
                </div>
            </div>
            <div class="col-lg-2 col-6 p-3">
                <div class="card  m-3 mx-auto" style="height: 165px;width: 120px;">
                    <img src="{% static 'img/category/bandc.webp'%}" class="card-img-top"  alt="safari" >
                    <h4 class="text-center"><b>Band</b></h4>
                    <a href="#" class=" stretched-link"></a>
                </div>
            </div>
            
            
        </div>
    </div>
</section>



{% endblock %}