{% extends 'master.html' %}
{% load static %}
{% block content %}


  <!-- css pages -->
  <link rel="stylesheet" href="{% static 'css/u_home.css'%}">

<!-- owl-careosel -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>

<!-- owl- careosel end -->

<style>


</style>
<section class="search-section ">
    <div class="container-fluid ">
        <form class="row domain-search bg-pblue ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 ml-lg-0 ml-2">
                        <h2 class="form-title animate__animated animate__fadeInLeft text-dark">Find Your <strong>Dream Team</strong></h2>
                        <p class="animate__animated animate__bounceInUp text-muted">Search for your dream team now</p>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group animate__animated animate__fadeIn">
                            <input type="search" class="form-control">
                            <span class="input-group-addon">
                                <input type="submit" value="Search" class="btn btn-primary search_btn">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</section>


<section class="pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="   text-center">
                        <h4 class="display-5 text-danger my-3 ">BOOK ARTIST</h4>
                        <p class="lead">Happy Clients Equals Happy Us</p>
                        <p class="category-para">We always thrive for the best and our clients feedback is what motivates us to
                            achieve that extra mile</p>
                   
                </div>
        
            </div>
              
                <!-- tabs -->
                <ul class="nav nav-pills mb-3 mx-auto" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="pills-band-tab" data-toggle="pill" href="#pills-band" role="tab" aria-controls="pills-band" aria-selected="true"><i class="fas fa-drum"></i> BAND</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="pills-dj-tab" data-toggle="pill" href="#pills-dj" role="tab" aria-controls="pills-dj" aria-selected="false"><i class="fas fa-compact-disc"></i> DJ</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="pills-dance-tab" data-toggle="pill" href="#pills-dance" role="tab" aria-controls="pills-dance" aria-selected="false"><i class="fas fa-american-sign-language-interpreting"></i> DANCE</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-magician-tab" data-toggle="pill" href="#pills-magician" role="tab" aria-controls="pills-magician" aria-selected="false"><i class="fal fa-magic"></i> MAGICIAN</a>
                      </li>
                      <li class="nav-item" role="presentation">
                        <a class="nav-link" id="pills-photography-tab" data-toggle="pill" href="#pills-photography" role="tab" aria-controls="pills-photography" aria-selected="false"><i class="fas fa-camera-retro"></i> PHOTOGRAPHY</a>
                      </li>
                  </ul>
                
        </div>
    </div>
    
    <!-- tab content  -->
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-band" role="tabpanel" aria-labelledby="pills-band-tab">
            <div class="viewed">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="bbb_viewed_title_container">
                                <div class="bbb_viewed_nav_container">
                                   <h3> <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                    <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div></h3>
                                </div>
                            </div>
                            <div class="bbb_viewed_slider_container p-lg-3">
                                <div class="owl-carousel owl-theme bbb_viewed_slider">
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/dance.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/band.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/band2.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-dj" role="tabpanel" aria-labelledby="pills-dj-tab">
            <div class="viewed">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="bbb_viewed_title_container">
                                <div class="bbb_viewed_nav_container">
                                   <h3> <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                    <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div></h3>
                                </div>
                            </div>
                            <div class="bbb_viewed_slider_container p-lg-3">
                                <div class="owl-carousel owl-theme bbb_viewed_slider">
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/band3.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/dj.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/band4.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-dance" role="tabpanel" aria-labelledby="pills-dance-tab">
            <div class="viewed">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="bbb_viewed_title_container">
                                <div class="bbb_viewed_nav_container">
                                   <h3> <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                    <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div></h3>
                                </div>
                            </div>
                            <div class="bbb_viewed_slider_container p-lg-3">
                                <div class="owl-carousel owl-theme bbb_viewed_slider">
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/band5.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/band6.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/magicien.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-magician" role="tabpanel" aria-labelledby="pills-magician-tab">
            <div class="viewed">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="bbb_viewed_title_container">
                                <div class="bbb_viewed_nav_container">
                                   <h3> <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                    <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div></h3>
                                </div>
                            </div>
                            <div class="bbb_viewed_slider_container p-lg-3">
                                <div class="owl-carousel owl-theme bbb_viewed_slider">
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img//bg11.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/guitarbg.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/dance.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-photography" role="tabpanel" aria-labelledby="pills-photography-tab">
            <div class="viewed">
                <div class="container">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="bbb_viewed_title_container">
                                <div class="bbb_viewed_nav_container">
                                   <h3> <div class="bbb_viewed_nav bbb_viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                    <div class="bbb_viewed_nav bbb_viewed_next"><i class="fas fa-chevron-right"></i></div></h3>
                                </div>
                            </div>
                            <div class="bbb_viewed_slider_container p-lg-3">
                                <div class="owl-carousel owl-theme bbb_viewed_slider">
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/dance.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/dj.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="owl-item">
                                        <div class="card ">
                                            <img class="img-fluid img-thumbnail" alt="100%x280"
                                                src="{% static 'img/category/dance.jpg' %}">
                                            <div class="card-body">
                                                <h4 class="card-title">Fusion Addiction</h4>
                                                <div class="rating mb-3 text-warning">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
                                                    <i class="fal fa-star"></i>
            
                                                </div>
                                                <p class="card-text">With supporting text below as a natural lead-in to
                                                    additional content.</p>
                                                <a href="/user/artist-profile" class="btn Price-btn btn-outline-danger">See Price and
                                                    Book</a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>



</section>



<section class="about-us mt-5 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="text-center font-weight-bold text-uppercase text-danger mb-5">about us</h3>
            </div>
            <div class="col-lg-6">
                <div class="content p-2 ">
                    <h3 class="text-dark">Lorem ipsum dolor sit amet consectetur</h3>
                    <p class="text-muted"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
                        necessitatibus delectus doloremque perferendis aliquam cupiditate officiis omnis sed tenetur
                        quod deleniti blanditiis laudantium qui totam sapiente velit maiores, in ex?</p>
                    <div class="button">
                        <a class="btn btn-outline-info" href="/user/about">Contact Us</a>
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="card p-3" style="border: none;">
                    <img src="{% static 'img/about.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

</section>


<!-- about -->
<!-- <section>
    <div class="about-us">
        <h1>about us</h1>
        <div class="wrapper">
            
            <div class="content">
                <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora necessitatibus delectus doloremque perferendis aliquam cupiditate officiis omnis sed tenetur quod deleniti blanditiis laudantium qui totam sapiente velit maiores, in ex?</p>
                <div class="button">
                    <a href="#">read more</a>
                </div>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="image-section">
                <img src="{% static 'img/about.jpg' %}" alt="">
            </div>
        </div>

    </div>
</section>  -->
<!-- about end -->



<script>
    $(document).ready(function()
{


if($('.bbb_viewed_slider').length)
{
var viewedSlider = $('.bbb_viewed_slider');

viewedSlider.owlCarousel(
{
loop:true,
margin:30,
autoplay:true,
autoplayTimeout:6000,
nav:false,
dots:false,
responsive:
{
0:{items:1},
575:{items:2},
768:{items:2},
991:{items:4},
1199:{items:3}
}
});

if($('.bbb_viewed_prev').length)
{
var prev = $('.bbb_viewed_prev');
prev.on('click', function()
{
viewedSlider.trigger('prev.owl.carousel');
});
}

if($('.bbb_viewed_next').length)
{
var next = $('.bbb_viewed_next');
next.on('click', function()
{
viewedSlider.trigger('next.owl.carousel');
});
}
}


});
</script>


<!-- <script>
      $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
})
  </script> -->




{% endblock %}