{% extends 'master.html' %}
{% load static %}
{% block content %}
<style>
 
    
</style>
<section class="membership py-4 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card text-uppercase text-center p-3 py-5 mx-auto border-warning " style="width: 18rem;">
          <hr class="bg-warning">
          <h4 class="card-title font-weight-bolder text-warning" >gold</h4>
          <p class="  text-monospace  text-info">boosted visibility <span class="text-success"><i class="fas fa-check"></i></span></p>
          <p class="  text-monospace text-info">dedicated profile manager <span class="text-success"><i class="fas fa-check"></i></span></p>
          <p class="  text-monospace text-info">social media promotion <span class="text-success"><i class="fas fa-check"></i></span></p>
          <p class="  text-monospace text-info">blog post <span class="text-success"><i class="fas fa-check"></i></span></p>
          <p class="  text-monospace text-info">Social Media Views <span class="text-success"><i class="fas fa-check"></i></span></p>
          <h5 class="font-weight-bold text-dark my-3">3000₹ / year</h5>
          <button class="btn btn-outline-warning text-uppercase mt-3">choose plan</button>

  
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}