

{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>
      .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/artist-dash.css' %}">
    <!-- home.html -->
    <link rel="stylesheet" href="{% static 'css/artist-home.css' %}">
    <link rel="stylesheet" href="{% static 'js/artist-home.js' %}">
    <link href="{% static 'js/artist-dash.js' %}"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>artist</title>
  
  </head>
  <body class="bg-white">
      <section>
        <div class="row">
            <div class="col-lg-12 ">
                <nav class="navbar navbar-expand-lg pt-lg-1 p-3 navbar-light bg-white  shadow ">
                    <a class="navbar-brand text-uppercase" href="#"><h3 class="text-primary"><span class="font-weight-bold"><i class="fa-brands fa-artstation"></i></span> ARTOMATIC</h3></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarScroll">
                      <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll " style="max-height: 100px;">
                        <li class="nav-item mr-2 active">
                          <a class="nav-link" href="/artist/artist-dash">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mr-2">
                          <a class="nav-link" href="/artist/artist-booking">Booking</a>
                        </li>
                        <li class="nav-item mr-2 ">
                          <a class="nav-link " href="/artist/event-pricing" >
                            Event & pricing
                          </a>
                         
                        </li>
                        <li class="nav-item mr-2">
                          <a class="nav-link " href="/artist/artist-status">status</a>
                        </li>
                        <li class="nav-item mr-2">
                          <a class="nav-link " href="/artist/artist-performence-details">Performence details</a>
                        </li>
                        <li class="nav-item mr-2">
                          <a class="nav-link " href="/artist/artist-billing">Billing Details</a>
                        </li>
                        <li class="nav-item mr-2">
                          <a class="nav-link " href="/artist/artist-contact">Contact</a>
                        </li>
                        <li class="nav-item mr-2">
                          <a class="nav-link " href="/artist/artist-subscription">Membership</a>
                        </li>
                      </ul>
                      <ul class="navbar-nav ml-auto my-2 my-lg-0 " style="max-height: 100px;">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"><span class="text-dark ">aswandh</span><img src="{% static 'img/category/band3.jpg' %}" alt="Avatar" class="ml-3 avatar"></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Gallery</a>
                            <a class="dropdown-item" href="#">Video</a>
                            <a class="dropdown-item" href="#">Bio</a>
                            <a class="dropdown-item" href="#">Key-info</a>
                            <hr>
                            <a class=" btn btn-danger my-3 ml-3" href="#">Logout</a>
                          </div>
                        </li>
                       

                      </ul>
                      
                      
                    </div>
                  </nav>
            </div>
        </div>
      </section>
       {% block content %}
  {% endblock %}

    
        
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->


  </body>
</html>