{% extends 'art-dash-master.html' %}
{% load static %}
{% block content %}


<style>
    .image {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: 30px;
        border: 5px solid white;

    }

    .profilecard {
        padding: 20px;
        border-radius: 10px;
        margin: 20px;
        color: #fff;
        background: linear-gradient(to bottom right, #BDC3C7 0%, #2C3E50 100%);
        border-color: #554d97;
    }

    .dashboard-home {
        display: grid;
        grid-template-columns: 40% auto;
    }
    .text-content{
        margin: 20px;
        border-radius: 10px;
    }
    .text-content p{
        font-size: 30px;
    }
</style>
<div class="container dashboard-home">
    <div class="card profilecard" style="width: 18rem;">
        <img src="{% static 'img/pro.jpg' %}" class="image mx-auto" alt="...">
        <div class="card-body text-center">
            <h5 class="card-title ">Aswandh k</h5>
            <a href="#" class="btn btn-primary mt-3">Change image</a>
        </div>
    </div>
    <div class="container-fluid mx-auto my-auto text-content" >
      <p class="text-center">Your Profile is under Review. <br>
        Add details and complete your profile to get live on Artomatic.</p>
    </div>
</div>




{% endblock %}