{% extends 'art-dash-master.html' %}
{% load static %}
{% block content %}




<section class="event-pricing mt-5">
    <div class="container">
        <div class="row">
            <div class="container">
                
                <div class="col-lg-12">
                        <h3 class="font-weight-bold text-info p-2 ml-5 mb-2">Event prefered</h3>
                    <table class="table text-center table-hover table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">prefered event</th>
                            <th scope="col">Discounting price</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox">
                                    <input id="check-campus" type="checkbox" class="custom-control-input" name="campus_checkbox" value="Campus Events">
                                    <span class="custom-control-label">Campus</span>
                                    </label>
                                </td>
                                <td><input class="d-none" type="text"></td>
                              </tr>
                          <tr>
                            <td>
                                <label class="custom-control custom-checkbox">
                                <input id="check-campus" type="checkbox" class="custom-control-input" name="campus_checkbox" value="Campus Events">
                                <span class="custom-control-label">Campus</span>
                                </label>
                            </td>
                            <td><input class="d-none" type="text"></td>
                          </tr>
                          <tr>
                            <td>
                                <label class="custom-control custom-checkbox">
                                <input id="check-campus" type="checkbox" class="custom-control-input" name="campus_checkbox" value="Campus Events">
                                <span class="custom-control-label">Campus</span>
                                </label>
                            </td>
                            <td><input class="d-none" type="text"></td>
                          </tr>
                          <tr>
                              <td></td>
                              <td><button class="btn btn-info">Cancel</button> <button class="btn btn-success ml-auto">Save</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- <style>
    .events{
        width: 100%;
    }
    .events-title{
        position: relative;
        margin-top: 20px;
        font-size: 40px;
        margin-left: 10px;
    }
    .events a{
        margin-left: 800px;
        margin-top: 50px;
    }
    .events input{
        width: fit-content;
        height: 20px;
        border-radius: 10px;
        border: none;
        width: 92%;
        margin: 15px;
        box-shadow: 0 3px 15px rgb(0 0 0 / 50%);
    }
    table{
        width: 100%;
    }
        
    
    table th{
        text-align: center;
        padding: 20px;
    }
    td input{
        position: sticky;
        margin: 10px;
    }
    
        
    
</style>
<div class="container">
    <div class="events">
        <h3 class="events-title">Events & Pricing</h3>
        <a href="" class="btn btn-outline-success " data-toggle="modal" data-target="#event-pricing"><i class="i far fa-edit"></i> Edit</a> <br>
        <input type="text" disabled>

    </div>
   
</div>



  <div class="modal fade" id="event-pricing" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Events & Pricing</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table >
              <tr>
                  <th>preffered Events</th>
                  <th>Discounting Pricing</th>
              </tr>
              <tr>
                  <td><input type="checkbox" ><span>Campus</span> </td>
                  <td><input type="text" class="pricing-text"></td>
              </tr>
              <tr>
                <td><input type="checkbox"><span>Charity</span></td>
                <td><input type="text" class="pricing-text"></td>
            </tr>
            <tr>
                <td><input type="checkbox"><span>Corporate</span></td>
                <td><input type="text" class="pricing-text"></td>
            </tr>
            <tr>
                <td><input type="checkbox"><span>Exhibition</span></td>
                <td><input type="text" class="pricing-text"></td>
            </tr>
            <tr>
                <td><input type="checkbox"><span>Fashionshow</span></td>
                <td><input type="text" class="pricing-text"></td>
            </tr>
            <tr>
                <td><input type="checkbox"><span>Inaguration</span></td>
                <td><input type="text" class="pricing-text"></td>
            </tr>
            <tr>
                <td><input type="checkbox"><span>Kids party</span></td>
                <td><input type="text" class="pricing-text"></td>
            </tr>
            <tr>
                <td><input type="checkbox"><span>Wedding</span></td>
                <td><input type="text" class="pricing-text"></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>



  <script>
      
  </script>
 -->
{% endblock %}