/* body {

    height: 70vh;
    font-family: 'poppins', sans-serif;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
   
}
*{
    margin: 0px;
    padding: opx;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'poppins',sans-serif;
}





/* iamge slider in biggining */


.carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;

}

.carousel-inner.inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
}

.carousel-item .caption {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    color: white;
    animation-duration: 1s;
    animation-delay: 2s;
}

.caption h2 {
    animation-duration: 1s;
    animation-delay: 2s;


}

.caption p {
    animation-duration: 1s;
    animation-delay: 2.2s;

}

.caption a {
    animation-duration: 1s;
    animation-delay: 2.4s;

}

.delicious-btn {
    display: inline-block;
    min-width: 160px;
    height: 60px;
    color: #fff;
    border: none;
    border-left: 3px solid #1c8314;
    border-radius: 0;
    padding: 0 30px;
    line-height: 58px;
    font-weight: 600;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
    background: #40ba32;
}

.delicious-btn:hover,
.delicious-btn:active,
.delicious-btn:focus {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: #1c8314;
    border-color: #40ba37;
}

 /*  */
/* aboutus */
 
.about-us{
    width: 100%;

}
.about-us h1{
    text-align: center;
    font-size: 40px;
    color: #2b9ec2;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 50px;

}
.wrapper{
 padding:  0 60px;
 margin: 60px auto;   
}
.content{
    width: 60%;
    float: left;
    text-align: left;
    padding: 0 30px;
}
.content h3{
    color: #222;
    letter-spacing: 1px;

}
.content p{
    font-family: sans-serif;
    font-size: 17px;
    color: #3d3d3d;
    margin-top: 20px;
}
.content .button a{
    color: #fff;
    background-color: #2b9ec2;
    border: 1px solid #2b9ec3;
    padding: 10px 25px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}
.content .button a:hover{
    background-color: #1cc1f3d7;
    border: black;
}  
.content .social{
    margin-top: 30px;
    color: #222;
    font-size: 25px;
}
.content .social a{
    text-decoration: none;
    color: #222;
    font-size: 25px;
    padding: 0px 7px;
}
.content .social a:hover{
    color: #1cc1f3d7;
}
.content .social i{
    height: 40px;
    width: 40px;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.image-section{
  width: 40%;
  float: right;
  padding: 0 30px;  
}
.image-section img{
    max-width: 100%;
    height: auto;
}
@media screen and (max-width:900px){
    .about-us{
        width: 100%;
        padding-top: 20px;
    }
    .about-us h1{
        font-size: 32px;
    }
    .content{
        width: 100%;
        float: none;

    }
    .content .button{
        margin-top: 30px;
        text-align: center;

    }
    .content .button a{
    padding: 8px 25px;

    }
    .content .social{
        margin-top: 30px;
        text-align: center;
    }
    .content .social a{
        font-size: 21px;
    }
    .image-section{
        float: none;
        width: 100%;
        margin-top: 25px;
    }
}

/* category */
.category{
    text-align: center;
    justify-content: center;
    background-color: #fff;
   
}

 .category .heading{
    
     font-size: 30px;
     color: #2c3e50;
     margin: 30px;
     background-color: rgb(167, 160, 160 ,0.3);
     border-radius: 15px;
     
 }
 .category-para{
     opacity: 0.8;
     font-family: "Times New Roman", Times, serif;
 }
 .category-btn a{
     
     color: #000;
     margin-left: 20px ;
     margin-top: 20px;
     margin-right: 20px;
     box-shadow: 0 3px 15px rgb(0 0 0 / 10%);
     transition: 0.2s;
 }
 .category-btn a:hover{
     background-color: #2c3e50;
     color: #fff;
     box-shadow: 0 3px 15px rgb(0 0 0 / 50%);
     transform: scale(1.2);

 }

 
/* category end */


/* 
 .slider-cat {
    max-width: 1150px;
    display: flex; 
    background: #f2f2f2;
 }
 .slider-cat .card{
     background-color: #fff;
     flex: 1;
     margin: 0 10px;
 }
 .slider-cat .card .img-cat{
     height: 200px;
     width: 100%;
 }
 .slider-cat .card .img-cat img{
     height: 100%;
     width: 100%;
     object-fit: cover;
 }
 .slider-cat .card .content-cat{
    padding: 10px 20px;
 }
 .card .content-cat .title{
     font-size: 25px;
     font-weight: 600;
 }
 .card .content-cat p{
     text-align: justify;
     margin: 10px 0;
 }
 .card .content-cat .btn{
     display: block;
     text-align: left;
     margin: 10px 0;
 }
 .card .content-cat .btn button{
     background: #e74c3c;
     color: #fff;
     border: none;
     outline: none;
     font-size: 17px;
     padding: 5px 8px;
     border-radius: 5px;
     cursor: pointer;
     transition: 0.2s;
 }
 .card .content-cat .btn button:hover{
     transform: scale(0.9);
 }
  */
